.Navbar {
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding: 10px;
  color: #fff;
  background-color: #424242;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  border-bottom: 10px solid #575757;
  transition: all 0.2s ease-out;
}

.Navbar .container {
  display: flex;
  justify-content: space-between;
}

.NavbarLogo {
  display: flex;
  align-items: center;
}

.NavbarLogo img {
  max-width: 70px;
  margin-right: 0.5rem;
  transition: 0.3s ease-out;
}

.NavbarLogo:hover img {
  transform: rotate(-10deg) scale(1.1);
}

.NavbarLogo p {
  font-family: 'Cheri', sans-serif;
  font-size: 2.5rem;
  transition: 0.3s ease-out;
}

.NavbarLogo:hover p {
  transform: rotate(2deg) scale(1.01);
}

.Navbar nav {
  display: flex;
}

.Navbar nav a {
  margin: 0 1rem;
  display: flex;
  align-items: center;
  min-width: 0;
  font-family: 'Cuddly', sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 5px 16px;
  border-radius: 20px;
  border: 7px solid;
  transition: 0.3s ease-out;
  background-color: #9e9d9d;
  border-color: #575757;
}

.Navbar nav a:nth-child(1).active {
  background-color: var(--pink);
  border-color: var(--pinkDark);
}

.Navbar nav a:nth-child(2).active {
  background-color: var(--navyBlue);
  border-color: var(--navyBlueDark);
}

.Navbar nav a:nth-child(3).active {
  background-color: var(--orange);
  border-color: var(--orangeDark);
}

.Navbar nav a:nth-child(1):hover {
  border-color: var(--pinkLight);
  background-color: var(--pink);
}

.Navbar nav a:nth-child(2):hover {
  border-color: var(--navyBlueLight);
  background-color: var(--navyBlue);
}

.Navbar nav a:nth-child(3):hover {
  border-color: var(--orangeLight);
  background-color: var(--orange);
}

.Navbar nav img {
  max-width: 60px;
  transition: transform 0.1s ease-out;
}

.Navbar nav a:hover img {
  transform: scale(1.05);
}

/* ============ NavbarOnTop styling ============ */
.Navbar.NavbarOnTop {
  padding: 1rem;
  background: transparent;
  border: none;
  box-shadow: none;
}

.NavbarOnTop .NavbarLogo img {
  max-width: 100px;
}

.NavbarOnTop nav a {
  font-size: 1.5rem;
}

.NavbarOnTop nav img {
  max-width: 70px;
}
